.helpdesk-title {
  font-family:
    Roboto,
    -apple-system,
    Roboto,
    Helvetica,
    sans-serif;
  font-size: 48px;
  font-style: italic;
  font-weight: 700;
  color: #edf5e1;
  margin: 0;
  margin-left: 20px;
}

.header-icons {
  display: flex;
  align-items: center;
  gap: 16px;
  margin-right: 20px;
}

.bm-bi-toggle {
  cursor: pointer;
  transition: transform 0.2s;
}

.bm-bi-toggle:hover {
  transform: scale(1.05);
}

.icon {
  cursor: pointer;
  fill: #000;
  transition: transform 0.2s;
}

.icon:hover {
  transform: scale(1.1);
}

.bell-icon {
  width: 24px;
  height: 29px;
}

.user-icon {
  width: 22px;
  height: 25px;
}

.logout-icon {
  width: 27px;
  height: 25px;
}

/* Link styling for user icon */
a {
  display: flex;
  align-items: center;
  text-decoration: none;
}
